<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Activation Email</title>
</head>

<style>
    table td {
        vertical-align: top;
    }

    .email-header {
        background-color: #0070f3;
        padding: 24px;
        color: #fff;
    }

    .email-body {
        padding: 24px;
        background-color: #fff;
    }

    .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
    }

    .button {
        display: inline-block;
        background-color: #0070f3;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        background-repeat: 4px;
    }
</style>

<body
    style="margin: 0;padding: 0; min-width: 100%; font-family: Arial, Helvetica, sans-serif; line-height: 1.5; background-color: #fafafa; color: #222222;">

    <div style="min-width: 600px; margin: 0 auto;" class="email-wrapper">
        <div style=" background-color: #0070f3;padding: 24px; color: #fff;" class="email-header">
            <h1 style="font-size: 24px; line-height: 1.5; font-weight: 700; margin-bottom: 15px; text-align: center;">
                Welcome to Lms</h1>
        </div>

        <div style=" padding: 24px;background-color: #fff;"="email-body">
            <p style="margin-top: 0; margin-bottom: 24px;">Hello <%= user.name %>,</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Thank you for registering with lms , To activate your
                account, please use the following activation code:</p>
            <h2>
                <%= activationCode%>
            </h2>
            <p style="margin-top: 0; margin-bottom: 24px;">Please enter this code on the activation page within the next
                5 minutes.</p>
            <p style="margin-top: 0; margin-bottom: 24px;" style="color:red">If you did not regiter for a lms account ,
                please ignore this email.</p>
        </div>

        <div style=" background-color: #f6f6f6;
    padding: 24px;" class="email-footer">
            <p>If you have any questions, please don't hesitate to contact us <a
                    style="color: #000; text-decoration: none;"
                    href="mailto:openheimerservice@gmail.com">openheimerservice@gmail.com</a></p>
        </div>
    </div>
</body>

</html>